.product-image 
    width: 100%
    max-width: 600px
    height: auto
.btn 
    background-color: #D8E24E
    border: none  // Asegúrate de que no haya borde
    outline: none // Elimina el borde azul al hacer foco
    padding: 10px 20px // Opcional: agrega algo de padding
    cursor: pointer // Cambia el cursor al pasar sobre el botón

    &:focus 
        outline: none // Asegúrate de que no haya borde al enfocar

    &:hover 
        background-color: #C4D12E // Cambia el color de fondo al pasar el mouse, opcional
