<div class="container-fluid"> 
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/anunciohead1.webp" class="d-block w-100" alt="Descripción de la imagen 1">
      </div>
      <div class="carousel-item">
        <img src="assets/images/anunciohead1.webp" class="d-block w-100" alt="Descripción de la imagen 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/anunciohead1.webp" class="d-block w-100" alt="Descripción de la imagen 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-3 col-sm-12 filtros-column">
      <app-filters (filterChange)="onFilterChange($event)" class="d-flex"></app-filters>
    </div>
    
    <div class="col-md-9 col-sm-6">
      <input type="text" [(ngModel)]="searchText" placeholder="Buscar productos..." class="form-control mb-3">
      <h2 class="text-center">Lista de Productos</h2>

      <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let producto of filteredProducts | filterProducts: searchText">
          <div *ngIf="filteredProducts.length === 0" class="">
            No hay Productos disponible
          </div>
          <div class="card mb-4 d-flex">
            <a [routerLink]="['/producto', producto.id]">
              <img [src]="producto.imagen" class="card-img-top p-2" alt="{{ producto.nombre }}">
            </a>
            <div class="card-body">
              <h5 class="card-title">
                <a [routerLink]="['/producto', producto.id]">{{ producto.nombre }}</a>
              </h5>
              <p class="card-text description-text">{{ producto.descripcion }}</p>
              <p class="card-text"><strong>Precio:</strong> {{ producto.precio }} €</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
