.card-title
  a
    color: inherit 
    text-decoration: none  

  &:hover 
    color: #D8E24E

.description-text
  display: -webkit-box         
  -webkit-line-clamp: 2         
  -webkit-box-orient: vertical  
  overflow: hidden              
  text-overflow: ellipsis       


.carousel
  margin-top: 115px
  padding: 0

.carousel-inner
  height: auto 
  width: 100%

.carousel-item img
  width: 100%
  height: 100% 
  object-fit: cover 